In [1]:
#Q1

In [2]:
# String
my_string = "Hello, World!"

In [4]:
# List
my_list = [1, 2, 3, 4, 5]

In [5]:
# Float
my_float = 3.14

In [6]:
# Tuple
my_tuple = (10, 20, 30, 40, 50)

In [7]:
#Q2

 var1 = ‘ ‘: This variable contains a string literal with a single space character. Hence, the data type of var1 is a string.

var2 = ‘[ DS , ML , Python]’: This variable contains a string literal that represents a list as a string. However, the contents of the variable are enclosed within single quotes instead of double quotes, making it an invalid list representation. Therefore, the data type of var2 is a string.

var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]: This variable contains a list with three string elements. Each element is enclosed within single quotes, but it is still a valid list. Hence, the data type of var3 is a list.

var4 = 1.: This variable contains a floating-point number. The presence of a decimal point signifies that it is a floating-point value. Therefore, the data type of var4 is a float.

In [8]:
#Q3

/ (Division Operator): The division operator is used to perform division between two numbers and obtain the quotient as a result. It is commonly used with numerical data types.

In [9]:
a = 10
b = 3
result = a / b
print(result)

3.3333333333333335

% (Modulo Operator): The modulo operator returns the remainder of the division between two numbers. It is used to perform modular arithmetic operations and can be used with integers and floating-point numbers.

In [10]:
a = 10
b = 3
result = a % b
print(result)

1

// (Floor Division Operator): The floor division operator performs division between two numbers and returns the quotient, rounded down to the nearest integer. It is used when we want the result to be an integer, discarding the decimal part.

In [11]:
a = 10
b = 3
result = a // b
print(result)

3

** (Exponentiation Operator): The exponentiation operator raises a number to a power. It is used to calculate the result of exponentiation and is commonly used with numerical data types.

In [12]:
a = 2
b = 3
result = a ** b
print(result)

8

In [ ]:
#Q4

In [14]:
my_list = [1, 'Hello', 3.14, True, [1, 2, 3], {'name': 'John'}, None, (4, 5, 6), 'World', False]

for element in my_list:
    print(element, type(element))

1 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'John'} <class 'dict'>
None <class 'NoneType'>
(4, 5, 6) <class 'tuple'>
World <class 'str'>
False <class 'bool'>

In [15]:
#Q5

In [16]:
A = 100
B = 5
count = 0

while A % B == 0:
    A = A // B
    count += 1

print("Number A can be divided by B", count, "times.")

Number A can be divided by B 2 times.

In [17]:
#Q6

In [19]:
my_list = [7, 12, 19, 21, 30, 33, 42, 48, 55, 60, 64, 72, 78, 81, 87, 92, 99, 102, 108, 115, 120, 126, 131, 138, 144]

for element in my_list:
    if element % 3 == 0:
        print(element, "is divisible by 3")
    else:
        print(element, "is not divisible by 3")

7 is not divisible by 3
12 is divisible by 3
19 is not divisible by 3
21 is divisible by 3
30 is divisible by 3
33 is divisible by 3
42 is divisible by 3
48 is divisible by 3
55 is not divisible by 3
60 is divisible by 3
64 is not divisible by 3
72 is divisible by 3
78 is divisible by 3
81 is divisible by 3
87 is divisible by 3
92 is not divisible by 3
99 is divisible by 3
102 is divisible by 3
108 is divisible by 3
115 is not divisible by 3
120 is divisible by 3
126 is divisible by 3
131 is not divisible by 3
138 is divisible by 3
144 is divisible by 3

In [20]:
#Q7

Mutable Data Types:
Mutable data types are those that can be modified or changed after they are created. This means that you can update, add, or remove elements within the data type without creating a new object. Changes made to mutable objects directly affect the original object in memory.

Examples of mutable data types in Python:

Lists: Elements can be added, removed, or modified.
Dictionaries: Key-value pairs can be added, removed, or modified.
Sets: Elements can be added or removed.
Example of modifying a mutable data type (list).

Immutable Data Types:
Immutable data types, as the name suggests, are those that cannot be modified or changed once they are created. If you need to make any modifications to an immutable object, you need to create a new object with the desired changes. Immutable objects preserve their original state.

Examples of immutable data types in Python:

Strings: Individual characters cannot be modified.
Numbers (int, float, complex): Values cannot be modified.
Tuples: Elements cannot be modified.
Example of attempting to modify an immutable data type (string

In [21]:
my_list = [1, 2, 3]
my_list.append(4)  # Modifying the list by adding an element
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [22]:
my_string = "Hello"
my_string[0] = "J"  # Trying to modify the string (will result in an error)

TypeError: 'str' object does not support item assignment